<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287073465288-cct3vi7ujg50s9ej10kd36muj2qv5thr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287073465288-cct3vi7ujg50s9ej10kd36muj2qv5thr</string>
	<key>API_KEY</key>
	<string>AIzaSyBvrOAkjXoseGFfElb1Sel5xr1AQse05pI</string>
	<key>GCM_SENDER_ID</key>
	<string>287073465288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>brain-app-sb</string>
	<key>STORAGE_BUCKET</key>
	<string>brain-app-sb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287073465288:ios:e166020d565f6b782a06fd</string>
</dict>
</plist>